.App {
  background-color: #FCFBFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 24vh 37vh 42vh 4vh;
/*  grid-template-areas: 
  'current current header'
  'forecast forecast forecast';*/
  text-align: center;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Nunito', sans-serif;
  color: #303030;
}

.main-section {
  /*grid-area: header;*/
  grid-column: 1 /span 2;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/span 2; 
  grid-row: 1/span 2;
}

.forecast-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin: 0 auto;
  width: 98%;
  height: 100%;
  grid-column: 1 / span 2;
}

.card-holder {
  display: flex;
  width: 100%;
  justify-content: space-around;}

.display-info {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.site-header {
  grid-column: 1 / span 2;
  width: 100%;
  /*background-color: #303030;*/
  background-color: #57a0ee;
  /*background-color: #4e91d8;*/
  height: 100%;
  display: flex;
  justify-content: flex-start;    
  align-items: center;
  margin: 0 0 1rem 0;
}

.currentWeatherComponent {
  grid-column: 1/span 2; 
  color: white;
}
