.App {
  background-color: #EEEEEE;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 22vh 37vh 41vh;
/*  grid-template-areas: 
  'current current header'
  'forecast forecast forecast';*/
  text-align: center;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Nunito', sans-serif;
  color: #303030;
}

.main-section {
  /*grid-area: header;*/
  grid-column: 1 /span 2;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/span 2; 
  grid-row: 1/span 2;
}

.welcome-div {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-div .search {
  position: absolute;
  bottom: 200px;
}

.forecast-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  background-color: #FFFFFF;
  /*display: flex;*/
 /* flex-direction: column;
  justify-content: space-around;
  align-items: center;*/
  border-radius: 10px;
  margin: 0 auto;
  width: 85%;
  height: 76vh;
  grid-column: 1 / span 2;
}


.card-holder {
  display: flex;
  width: 93%;
  justify-content: center;
  margin: 0 0 2rem 0;
}

.display-info {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: flex-end;
  margin: 0 2rem 0 0;
}

.site-header {
  grid-column: 1 / span 2;
  width: 100%;
  background-color: #57a0ee;
  height: 100%;
  display: flex;
  justify-content: space-between;    
  align-items: center;
  margin: 0 0 1rem 0;
}

.currentWeatherComponent {
  grid-column: 1 / span 2; 
  color: white;
}

