.App {
  background-color: #EEEEEE;

  display: grid;
  font-family: 'Nunito', sans-serif;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 22vh 37vh 41vh;
  text-align: center;
}

.main-section {
  align-items: center;
  display: flex;
  grid-column: 1 /span 2;
  grid-row: 1 / span 1;
  flex-direction: column;
  justify-content: space-around;
}

.welcome {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 1/span 2; 
  grid-row: 1/span 2;
  justify-content: center;
}

.welcome-div {
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-div .search {
  bottom: 200px;
  position: absolute;
}

.forecast-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  background-color: #FFFFFF;
  /*display: flex;*/
 /* flex-direction: column;
  justify-content: space-around;
  align-items: center;*/
  border-radius: 10px;
  margin: 0 auto;
  width: 85%;
  height: 76vh;
  grid-column: 1 / span 2;
}





.card-holder {
  display: flex;
  width: 93%;
  justify-content: center;
  margin: 0 0 2rem 0;
}


.display-info {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: space-around;
  margin: 0 2rem 0 0;
}

.site-header {
  align-items: center;
  background-color: #57a0ee;
  display: flex;
  grid-column: 1 / span 2;
  justify-content: space-between;    
  height: 100%;
  margin: 0 0 1rem 0;
  width: 100%;
}

.currentWeatherComponent {
  grid-column: 1 / span 2;  
}