.App {
  background-color: #1f1d20;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 60vh 40vh;
/*  grid-template-areas: 
  'current current header'
  'forecast forecast forecast';*/
  text-align: center;
}

.banner-image {
  /*grid-area: header;*/
  grid-column: 2 /span 1;
  grid-row: 1 / span 1;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/span 2; 
  grid-row: 1/span 2;
}

.search {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.hourly-container {
  grid-column: 1/span 2;  
  grid-row: 2/span 1;
}