.App {
  background-color: #1f1d20;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
/*  grid-template-areas: 
  'current current header'
  'forecast forecast forecast';*/
  text-align: center;
}

.banner-image {
  /*grid-area: header;*/
  grid-column: 2/span 1;
}

.welcome {
  grid-column: 1/span 2; 
  grid-row: 1/span 2;
}

