/*.banner-image {
	background-image: url("./animated/weather.svg");
	background-size: cover;
	width: 18rem;
	height: 18rem;
  margin: 0 auto;
}*/

.site-header {

}


.site-title {
  color: white;
  font-size: 3rem;
  /*font-family: 'Bree Serif', serif;*/
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Dekko', cursive;*/
font-family: 'Berkshire Swash', cursive;
/*font-family: 'Baloo', cursive;*/
/*font-family: 'Baloo Chettan', cursive;*/
/*font-family: 'Baloo Tamma', cursive;*/
/*font-family: 'Baloo Thambi', cursive;*/
}