/*.banner-image {
	background-image: url("./animated/weather.svg");
	background-size: cover;
	width: 18rem;
	height: 18rem;
  margin: 0 auto;
}*/

.site-header {
  
}


.site-title {
  color: white;
  
  margin: 0 0 0 3rem;
  font-size: 4.5rem;
  font-family: 'Berkshire Swash', cursive;
}