.currentWeatherComponent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin: 2rem 2rem;
  color: black;
  margin: auto;
  border-radius: 10px;
}

.grid-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: #303030;
}

.currentCity {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  font-size: 3rem;
}

.currentDate {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  font-size: 1.5rem;
  justify-self: flex-start;
}

.currentHighLow-div {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  font-size: 1.5rem;
  justify-self: flex-end;
  align-self: flex-start;
  flex-direction: column;
  margin: 1rem 1rem 0 0;
}

.icon-conditions-div {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  font-size: 2rem;
}

.current-weather-icon {
  height: 20rem;
}

.currentTemp {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
  font-size: 6rem;
}

.currentDescription {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  width: 50%;
  justify-self: flex-end;
  align-self: flex-end;
  margin: 0 1rem 1rem 0;
}
