.currentWeatherComponent {
 /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;*/
  height: 48%;
  width: 100%;
  border-radius: 10px;
  margin: 2rem 2rem;
  color: black;
  margin: auto;
  border-radius: 10px;
}

/*.grid-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: #303030;
}*/

.currentCity {
  /*grid-column: 1 / span 1;*/
  /*grid-row: 1 / span 1;*/
  font-size: 3rem;
  justify-content: flex-start;
  /*margin: -86px 0 0 2rem;*/
}

.currentDate {
  font-size: 1.5rem;
  margin: 0 0 0 1rem;
}

.currentHighLow-div {
  /*grid-column: 3 / span 1;*/
  /*grid-row: 1 / span 1;*/
  font-size: 1.5rem;
  justify-self: flex-end;
  align-self: flex-start;
  flex-direction: column;
  margin: 2rem 3rem 0 0;
}

.currentHigh {
  margin: 0 0 0.75rem 0;
}

/*.icon-conditions-div {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  font-size: 2rem;
}*/

.current-weather-icon {
  height: 20rem;
}

.currentTemp {
/*  grid-column: 2 / span 1;
  grid-row: 1 / span 1;*/
  font-size: 7rem;
/*  height: 20rem;
  display: flex;
  justify-content: space-around;*/
}

.currentDescription {
  /*grid-column: 2 / span 1;*/
  /*grid-row: 3 / span 1;*/
  width: 30%;
  justify-self: flex-end;
  align-self: flex-end;
  margin: 0 2rem 1rem 0;
}

.toggle-btn-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
}

.toggle-btns {
  border-radius: 10px;
  border: 1px solid #57a0ee;
  background-color: white;
  width: 4.5rem;
  height: 2rem;
}

.fahr-cels-btn {

}

.forecast-btn {

}

