.welcome {
  background-color: #57A0EE;
  color: white;
  font-family: 'Berkshire Swash', cursive;
  height: 100vh;
  width: 100vw;
	opacity: 0.8;
}

.welcome-title {
	font-size: 7rem;
	opacity: 1.0;
}
